body { padding: 20px 80px; background: #454545; color: #b2b2b2; font-family: "Helvetica Neue", "Verdana", sans-serif;}
a { text-decoration:none; color: #b2b2b2; }

#wrapper { margin:auto; width: 60%; }

.alert { border-radius:10px; background: #3f634d; border: 2px solid #3c8455; padding: 15px; }

h3 { font-size: 200%; }

i:hover {
  cursor: pointer;
}

#today i.anchor, #today i.pair, #today i.solo, #today i.absent {
  display: none;
}

#pairs .anchor {
  clear: left;
  border: 1px solid black;
}

li {
  float: left;
  list-style-type: none;
  color: black;
  background-color: rgb(120, 140, 255);
  border-radius: 0.5em;
  opacity: 0.8;
  margin: 4px;
  padding: 8px;
}

.paired {
  background-color: rgb(180, 250, 180);
}

#pairs > li {
  clear: left;
}

#pairs > li:not(.paired):first {
  background-color: rgb(250, 0, 0);
}

.clear {
  clear: both;
}

#setup i.unpair {
  display: none;
}

article {
  width: 768px;
}

section {
}

i {
  padding: 4px;
}
